<section class="cospo-page no-bg" id="services">

  <div class="background">
    <img src="assets/img/mine/bg/bg-4.jpg" alt=""/>
  </div>
  <div class="background-element"></div>


  <div class="wrapper-scroll">
    <div class="scroll">

      <div class="content-center">
        <div>

          <div class="content row">


            <div class="col-md-4 col-xs-5">
              <h2>{{ 'services.titulo' | translate }}</h2>
              <h4>{{ 'services.subtitulo' | translate }}</h4>

              <p>{{ 'services.p1' | translate }}</p>
              <p>{{ 'services.p2' | translate }}</p>
              <p>{{ 'services.p3' | translate }}</p>

            </div>

            <div class="col-md-4 col-xs-5">

              <ul class="large-block no-checkmark">
                <li>
                  <h4>{{ 'services.mobile' | translate }}</h4>
                  <svg class="lnr lnr-smartphone"><use xlink:href="#lnr-smartphone"></use></svg>
                  <p>{{ 'services.mobile1' | translate }}</p>
                </li>

                <li>
                  <h4>{{ 'services.web' | translate }}</h4>
                  <svg class="lnr lnr-laptop"><use xlink:href="#lnr-laptop"></use></svg>
                  <p>{{ 'services.web1' | translate }}</p>
                </li>

                <li>
                  <h4>{{ 'services.design' | translate }}</h4>
                  <svg class="lnr lnr-magic-wand"><use xlink:href="#lnr-magic-wand"></use></svg>
                  <p>{{ 'services.design1' | translate }}</p>
                </li>
                <li>
                  <h4>{{ 'services.iot' | translate }}</h4>
                  <svg class="lnr lnr-cloud-sync"><use xlink:href="#lnr-cloud-sync"></use></svg>
                  <p>{{ 'services.iot1' | translate }}</p>
                </li>
                <li>
                  <h4>{{ 'services.dev' | translate }}</h4>
                  <svg class="lnr lnr-code"><use xlink:href="#lnr-code"></use></svg>
                  <p>{{ 'services.dev1' | translate }}</p>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  

</section>