<section class="cospo-page no-bg" id="works">
  
  <div class="background">
    <img src="assets/img/mine/bg/bg-6.jpg" alt=""/>
  </div>
  <div class="background-element"></div>

  <div class="wrapper-scroll overflow-height">
    <div class="scroll">
      <div class="content row">
        <div class="col-md-5 col-sm-12 col-xs-12">


          
            
            <h2>{{ 'work.titulo' | translate }}</h2>
            <h4>{{ 'work.subtitulo' | translate }}</h4>

            <p>{{ 'work.p1' | translate }}</p>
            <p>{{ 'work.p2' | translate }}</p>


          <img class="works-images" src="/assets/img/mine/works/acay.png" alt="Agriglobal Acay Agro" >
          <div>
            <h4>{{ 'work.w1' | translate }}</h4>
            <cite>{{ 'work.w1d' | translate }}</cite>
          </div>

          <hr>

          <img class="works-images" src="/assets/img/mine/works/decker.png" alt="Decker - Ruta Sur Trucks">
          <div>
            <h4>{{ 'work.w2' | translate }}</h4>
            <cite>{{ 'work.w2d' | translate }}</cite>
          </div>

          <hr>

          <img class="works-images" src="/assets/img/mine/works/soc.png" alt="Facultad de sociales unicen">
          <div>
            <h4>{{ 'work.w3' | translate }}</h4>
            <cite>{{ 'work.w3d' | translate }}</cite>
          </div>


          <hr>

          <img class="works-images" src="/assets/img/mine/works/clinica.png" alt="Clinica de ojos tandil" >
          <div>
            <h4>{{ 'work.w4' | translate }}</h4>
            <cite>{{ 'work.w4d' | translate }}</cite>
          </div>


          <hr>

          <img class="works-images" src="/assets/img/mine/works/decker2.png" alt="Decker camiones volvo renualt " >
          <div>
            <h4>{{ 'work.w5d' | translate }}</h4>
            <cite>{{ 'work.w5d' | translate }}</cite>
          </div>

          
          <hr>

          <img class="works-images" src="/assets/img/mine/works/don.png" alt="Don Francisco Maquinarias" >
          <div>
            <h4>{{ 'work.w6' | translate }}</h4>
            <cite>{{ 'work.w6d' | translate }}</cite>
          </div>

            
          <hr>

          <img class="works-images" src="/assets/img/mine/works/contable.png" alt="Software Contable">
          <div>
            <h4>{{ 'work.w7' | translate }}</h4>
            <cite>{{ 'work.w7d' | translate }}</cite>
          </div>

          <hr>

          <img class="works-images" src="/assets/img/mine/works/consultorios.png" alt="Consultorios del parque necochea" >
          <div>
            <h4>{{ 'work.w8' | translate }}</h4>
            <cite>{{ 'work.w8d' | translate }}</cite>
          </div>

          <hr>

          <img class="works-images" src="/assets/img/mine/works/ladulce.png" alt="La dulce Seguros de Granizo - Cooperativa">
          <div>
            <h4>{{ 'work.w9' | translate }}</h4>
            <cite>{{ 'work.w9d' | translate }}</cite>
          </div>

      </div>
    </div>
  </div>
</div>
</section>

 