<section class="cospo-page no-bg" id="about">

  <div class="background">
    <img src="assets/img/mine/bg/bg-1.jpg" alt=""/>
  </div>

  <div class="background-element"></div>

  <div class="wrapper-scroll">
    <div class="scroll">

      <div class="content row">

        <div class="col-md-5 col-sm-12">
          <h2>{{ 'about.titulo' | translate }}</h2>
          <h3>{{ 'about.subtitulo' | translate }}</h3>
          <p>{{ 'about.desc1' | translate }}</p>
          <p>{{ 'about.desc2' | translate }}</p>
         
    
          <h3>{{ 'about.work' | translate }}</h3>

<ul>
  <li>{{ 'about.work1' | translate }}</li>
  <li>{{ 'about.work2' | translate }}</li>
  <li>{{ 'about.work3' | translate }}</li>
</ul>
  <p>{{ 'about.workdesc' | translate }}</p>



<h3>{{ 'about.form' | translate }}</h3>

<p>{{ 'about.fixed' | translate }}</p>
<p>{{ 'about.time' | translate }}</p>
<p>{{ 'about.staff' | translate }}</p>  
<p>{{ 'about.soporte' | translate }}</p>


<section *ngIf="showArgentina()"  class="accordeon col-md-5 row pt-30">
            <h2>Why Argentina?</h2>
  <article>
    <header>
      <h4>IT Professionals:</h4>
    </header>
    <div class="accordeon-item">
      <div class="accordeon-content">
        <p>
          Skilled IT developers in Argentina are very welcoming to learning new technologies. 
          Argentina outsources software development services in ecommerce, enterprise and finance spheres. 
          Create top-notch software solutions for healthcare, insurance, agriculture, and education as well.  
        </p>
      </div>
    </div>
    <button class="accordeon-btn">
      <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
        <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
     C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
        <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
     c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
     C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
      </svg>
    </button>
  </article>

  <article>
    <header>
      <h4>Time-zone location:</h4>
    </header>
    <div class="accordeon-item">
      <div class="accordeon-content">
        <p>
          Argentina is one hour ahead of the East Coast and four of the West Coast. Sharing almost the same working day schedule.
          It is a great choice for nearshoring software development to have handy business meetings and communication.
        </p>
      </div>
    </div>
    <button class="accordeon-btn">
      <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
        <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683
     c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
     C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
        <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
     c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
     C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
      </svg>
    </button>
  </article>

  <article>
    <header>
      <h4>Strong Technical Education:</h4>
    </header>
    <div class="accordeon-item">
      <div class="accordeon-content">
        <p>
          The country offers various educational opportunities for hi-tech community. 
          In cooperation with local software development companies, regional IT clusters launch educational 
          programs at universities and set up innovation labs at colleges and schools.
        </p>
      </div>
    </div>
    <button class="accordeon-btn">
      <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
        <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683
     c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
     C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
        <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
     c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
     C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
      </svg>
    </button>
  </article>

  <article>
    <header>
      <h4>Fluent English: </h4>
    </header>
    <div class="accordeon-item">
      <div class="accordeon-content">
        <p>
          Argentinan specialists have a good level of English proficiency. 
          Companies provide free English classes and speaking clubs to improve it further. 
          It makes work with any foreign company easy.
        </p>
      </div>
    </div>
    <button class="accordeon-btn">
      <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
        <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683
     c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
     C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
        <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
     c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
     C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
      </svg>
    </button>
  </article>

  <article>
    <header>
      <h4>Competitive outsourcing rates:</h4>
    </header>
    <div class="accordeon-item">
      <div class="accordeon-content">
        <p>
          Argentine companies are leaders in total costs, offering prices lower than many US firms, keeping deliveries on time and commitment to the project.
        </p>
      </div>
    </div>
    <button class="accordeon-btn">
      <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
        <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683
     c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
     C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
        <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
     c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
     C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
      </svg>
    </button>
  </article>

</section>


<div class="col-md-5 row">

  <div class="col-12">
    <a target="_blank" href="https://bit.ly/bpsisface" class="btn-icon btn-facebook-share"><i class="fab fa-facebook"></i></a>    
    <a target="_blank" href="https://bit.ly/bpsislink" class="btn-icon btn-linkedin-share"><i class="fab fa-linkedin"></i></a>
    <a target="_blank" href="https://bit.ly/bpsisinsta" class="btn-icon btn-instagram-share"><i class="fab fa-instagram"></i></a>    
  </div>

</div>
        </div>

      </div>

    </div>
  </div>

</section>