<section class="cospo-page no-bg line-bottom" id="tech">

  <div class="background">
    <img src="assets/img/mine/bg/bg-7.jpg" alt=""/>
  </div>
  <div class="background-element"></div>


  <div class="wrapper-scroll">
    <div class="scroll">
      <div class="content">
        <h2>{{ 'tech.titulo' | translate }}</h2>
        
        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-3">
            <h3><svg class="lnr lnr-smartphone"><use xlink:href="#lnr-smartphone"></use></svg>Mobile</h3>
            <ul>
              <li>iOS</li>
              <li>Android</li>
              <li>React Native</li>
              <li>Ionic</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-3">

            <h3><svg class="lnr lnr-code"><use xlink:href="#lnr-code"></use></svg> Backend</h3>
    
                <ul>
                  <li>PHP</li>
                  <li>Python</li>
                  <li>Node</li>
                  <li>Java</li>
                </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-3">

            <h3><svg class="lnr lnr-screen"><use xlink:href="#lnr-screen"></use></svg> Frontend</h3>
            <ul>
              <li>Angular</li>
              <li>React</li>
              <li>HTML5</li>
              <li>Vue</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-3">           
            
        <h3><svg class="lnr lnr-database"><use xlink:href="#lnr-database"></use></svg>Database</h3>
            <ul>
              <li>MySQL</li>
              <li>PostgreSQL</li>             
              <li>Firebase</li>
              <li>MongoDB</li>
            </ul>

          </div>
        </div>


      </div>


      <div class="brand-table">
        <div class="cell">
          <img src="assets/img/mine/logos/apple.png" class="logos" alt="apple">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/android.png" class="logos" alt="android">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/react.png" class="logos" alt="react">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/ionic.png" class="logos" alt="ionic">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/angular.png" class="logos" alt="angular">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/html.png" class="logos" alt="html">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/vue.png" class="logos" alt="vue js">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/php.png" class="logos" alt="php">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/python.png" class="logos" alt="python">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/node.png" class="logos" alt="node">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/java.png" class="logos" alt="java">
        </div>
        <div class="cell">
          <img src="assets/img/mine/logos/mysql.png" class="logos" alt="mysql">
        </div>                                        
        <div class="cell">
          <img src="assets/img/mine/logos/postgressql.png" class="logos" alt="postgressql">
        </div>                                        
        <div class="cell">
          <img src="assets/img/mine/logos/firebase.png" class="logos" alt="firebase">
        </div>    
        <div class="cell">
          <img src="assets/img/mine/logos/mongo.png" class="logos" alt="mongo">
        </div>    

      </div>


    </div>
  </div>

</section>