.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  margin-right: 10px;
  margin-bottom: -6px;
}

.lnr-exit {
  color: #FFFFFF;
  /* We can use "color" for setting the color
  of the SVG because we set its "fill" to
  "currentColor" */
  font-size: 40px;
  /* We can use "font-size" for changing the size
  of the SVG because its width and height were
  set 1em.
  To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}

.logos{
  width: 60px !important; height: 60px !important; }

  .accordeon{
    background-color: rgba(255, 255,255, 0.1);
    padding: 10px;
    border-radius: 10px;
  }




  .accordeon header h4{
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
  }