

    <div class="main-preloader">
      <div class="ball-scale">
        <div></div>
      </div>
    </div>

    <header class="navigation">
      <nav>
        <div class="wrapper-scroll">
          <div class="scroll">
            <div class="content-center">
              <div>
                <div class="menu_wrapper">
                  <ul class="navigation-menu">
                    <li><a href="#home">{{ 'home.label' | translate }}</a></li>
                    <li><a href="#about">{{ 'about.label' | translate }}</a></li>
                    <li><a href="#services">{{ 'services.label' | translate }}</a></li>
                    <li><a href="#works">{{ 'work.label' | translate }}</a></li>
                    <li><a href="#team">{{ 'team.label' | translate }}</a></li>
                    <li><a href="#tech">{{ 'tech.label' | translate }}</a></li>
                    <li><a href="#contact">{{ 'contact.label' | translate }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scales"></div>
      </nav>
      
      <button class="navigation-btn" data-action="go-next-page">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 14" enable-background="new 0 0 11 14" xml:space="preserve">
          <g id="logo_copy">
            <g>
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#010101" d="M10.7,6.3C9.9,5.9,1.5,0.4,1.1,0.1C0.5-0.2,0,0.2,0,0.8
			c0,0.4,0,11.8,0,12.4c0,0.6,0.6,0.9,1,0.7c0.6-0.4,9.1-5.9,9.6-6.2C11.1,7.4,11.1,6.6,10.7,6.3z"></path>
            </g>
          </g>
        </svg>
      </button>

      <div class="widget-lang">
        <button class="navigation-link-btn" data-action="show-lang">{{ defaultIdioma | titlecase }}</button>
        <ul>
          <li>
            <a class="btn" (click)="change('en')">English</a>
          </li>
          <li>
            <a class="btn" (click)="change('es')">Español</a>
          </li>
        </ul>
        <div class="widget-lang-overlay"></div>
      </div>

      <div class="widget-block widget-block-bottom">
        <div class="wrapper-scroll">
          <div class="scroll">
            <div class="widget-content">

              <!--<div class="widget-newsletter">
                <h5>Our Newsletter</h5>
                <p>Subscribe to our email newsletter to receive useful articles and special offers.</p>
                <form class="notify-me" method="post" novalidate>
                  <input type="email" name="subscribe" id="notify-me" placeholder="Please leave your email" autocomplete="off">
                  <button type="submit"></button>
                </form>
              </div>-->

              <div class="widget-item center">
            <a target="_blank" href="https://bit.ly/bpsisface" class="btn-icon btn-facebook-share"><i class="fab fa-facebook"></i></a>    
    <a target="_blank" href="https://bit.ly/bpsislink" class="btn-icon btn-linkedin-share"><i class="fab fa-linkedin"></i></a>
    <a target="_blank" href="https://bit.ly/bpsisinsta" class="btn-icon btn-instagram-share"><i class="fab fa-instagram"></i></a>    
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="navigation-link-btn" data-action="show-widget-bottom"></button>

      <div class="widget-overlay">
        <div class="widget-overlay-top"></div>
        <div class="widget-overlay-bottom"></div>
      </div>

    </header>

    <!-- Overlay -->
    <div class="main-overlay"></div>

    <main>
      <home-page [language]=defaultIdioma></home-page>
      <about-page [language]=defaultIdioma></about-page>
      <services-page [language]=defaultIdioma></services-page>
      <work-page [language]=defaultIdioma></work-page>
      <team-page [language]=defaultIdioma></team-page>
      <tech-page [language]=defaultIdioma></tech-page>
      <contact-page [language]=defaultIdioma></contact-page>
    </main>

