<section class="cospo-page no-bg line-bottom" id="team">

  <div class="background">
    <img src="assets/img/mine/bg/bg-7.jpg" alt=""/>
  </div>
  <div class="background-element"></div>


  <div class="wrapper-scroll">
    <div class="scroll">
      <div class="content">

        <h2>{{ 'team.titulo' | translate }}</h2>
        <h4>{{ 'team.subtitulo' | translate }}</h4>
        <p>{{ 'team.p1' | translate }}</p>
        <p>{{ 'team.p2' | translate }}</p>
        <p>{{ 'team.p3' | translate }}</p>

        <hr>
        
        <h4>{{ 'team.jobs' | translate }}</h4>
        <p><b>{{ 'team.j1' | translate }}</b></p>
        <p>{{ 'team.j2' | translate }}</p>
        

        <p>{{ 'team.cv' | translate }} info@bpsistemas.com</p>


<section class="accordeon">
        <article>
          <header>
            <h4>Full Stack JavaScript Developer - (Ionic, Angular)</h4>
          </header>
          <div class="accordeon-item">
            <div class="accordeon-content">
              <p>Responsibilities:  </p>
              <p>Develop quality software and web applications. Analyze and maintain existing software applications. Design highly scalable, testable code. Discover and fix programming bugs</p>
            </div>
          </div>
          <button class="accordeon-btn">
            <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
              <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
           C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
              <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
           c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
           C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
            </svg>
          </button>
        </article>


        <article>
          <header>
            <h4>Full Stack Software Engineer - (PHP)</h4>
          </header>
          <div class="accordeon-item">
            <div class="accordeon-content">
              <p>Responsibilities:  </p>
              <p>End to end, full stack platform engineering. Focused on new feature development for the SaaS platform. Working in a fast-paced, Agile environment, as part of a small, growing team. Back end development with PHP, Laravel, MySQL, Docker, AWS, and lots of RESTful APIs. </p>
            </div>
          </div>
          <button class="accordeon-btn">
            <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
              <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
           C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
              <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
           c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
           C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
            </svg>
          </button>
        </article>


        <article>
          <header>
            <h4>Account Manager - Ventas Software</h4>
          </header>
          <div class="accordeon-item">
            <div class="accordeon-content">
              <p>Responsibilities: </p>
              <p>Identificar oportunidades de venta nueva en base al levantamiento consultivo de las necesidades que salga de los clientes actuales y potenciales.</p>
              <p>Construir y mantener relaciones efectivas a largo plazo con tomadores de decisiones de nivel senior.</p>
              <p>Identificar a nuevos grupos de compradores dentro de clientes existentes y crear demanda para las ofertas de la organización.</p>
              <p>Vender ofertas semi adaptadas con múltiples aplicaciones (casos de uso).</p>
              <p>Conducir reuniones regulares y estratégicas con la gerencia senior de los clientes para comprender sus necesidades y vincularlas con las estrategias de los productos/servicios de la organización.</p>
              <p>Visitar y ampliar la cartera y portafolio de clientes con productos predefinidos y de valor agregado de BP Sistemas.</p>
              <p>Brindar capacitaciones y apoyo permanente a sus clientes generando venta cruzada y dirigida.</p>
              <p>Entregar soluciones en forma integral a los clientes de la cartera.</p>
              <p>Diseñar informes de ventas de su cartera con la utilización de utilitarios.</p>
              <p>Profundizar las relaciones con sus clientes asignados.</p>
              <p>Ejecutar y cumplir procesos administrativos que requiera la cartera.</p>
              <p>Mantener actualizada los planes de cuenta (información de clientes) y el CRM de ventas con todas las oportunidades levantadas.</p>
            </div>
          </div>
          <button class="accordeon-btn">
            <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
              <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
           C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
              <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
           c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
           C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
            </svg>
          </button>
        </article>


        <article>
          <header>
            <h4>WordPress Web Developer</h4>
          </header>
          <div class="accordeon-item">
            <div class="accordeon-content">
              <p>Responsibilities: </p>
              <p>Add features to existing WordPress.</p>
              <p>Create new WordPress websites.</p>
              <p>Manage code in version control.</p>
              <p>Program complex features involving multiple technologies integrated into WordPress.</p>
            </div>
          </div>
          <button class="accordeon-btn">
            <svg version="1.1" width="10px" height="10px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve" fill="#ffffff">
              <path d="M8.738,50.005L207.8,242.35c11.369,10.996,29.5,10.678,40.479-0.683c11.003-11.358,10.705-29.485-0.664-40.481L48.556,8.842C37.186-2.153,19.055-1.835,8.052,9.523
           C-2.951,20.882-2.631,39.01,8.738,50.005z"></path>
              <path d="M213.039,201.126L403.533,8.546c10.891-11.008,28.247-10.69,38.765,0.682
           c10.518,11.395,10.232,29.522-0.657,40.531L251.146,242.338c-10.891,11.01-28.249,10.691-38.765-0.682
           C201.86,230.284,202.146,212.135,213.039,201.126z"></path>
            </svg>
          </button>
        </article>



      </section>
   

      

 
       


     


    </div>
  </div>  </div>

</section>