<section class="cospo-page home-page" id="home">

  <div class="background">
    <img src="assets/img/mine/bg/bg-3.jpg" alt=""/>
  </div>

  <div class="background-element"></div>

  
  <header class="home-page-logo">
    <a href="#">
      <img src="assets/img/mine/logo.svg" style="height:40px"  alt="">
    </a>
  </header>

  <div class="content row">

    <div class="wrapper-scroll">
      <div class="scroll">
        <div class="content-center">
          <div>
            <div class="col-md-4 col-sm-5 col-xs-5">
              <p class="home-page-p">{{ 'home.titulo' | translate }}</p>
              <h1>{{ 'home.subtitulo' | translate }}</h1>
              <button data-action="#services">{{ 'home.masinfo' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="home-page-footer">
    © BP SISTEMAS, 2006 - 2020
  </footer>

</section>