<section class="cospo-page no-bg" id="contact">

  
  <div class="background">
    <img src="assets/img/mine/bg/bg-2.jpg" alt=""/>
  </div>
  <div class="background-element"></div>


  <div class="wrapper-scroll">
    <div class="scroll">

      <div class="content row">
        <div class="col-md-5 col-sm-12">

          <h2>{{ 'contact.titulo' | translate }}</h2>
          <h4>{{ 'contact.subtitulo' | translate }}.</h4>


          <div class="row table-contact">
            <div class="col-md-2 col-sm-2 col-xs-12">
              <p>ADDRESS:
                <br/>
                1367 Int. Dufau. <br>Tandil, Argentina.
              </p>
    
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <p>MAIL:
                <br/>
                info@bpsistemas.com
                
              </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <p>PHONE / WHASTSAPP:
                <br/>
                +54(2262) 63-8425 <br>
                 +54(2262) 60-9433</p>
            </div>
          </div>
          

          

          <h4>Your Message</h4>
          <div *ngIf="loading" >
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          </div>
          <div class="alert alert-success" *ngIf="sendit" >
              Mensaje enviado
          </div>
          <form #signupForm="ngForm" *ngIf="!sendit"  (ngSubmit)="contacto(signupForm)">
             <div class="row">
              <div class="col-md-3">
                <input type="text" ngModel required placeholder="Name / Nombre" name="name">
              </div>
              <div class="col-md-3">
                <input type="email" ngModel required placeholder="Email" name="reply">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <input type="text" ngModel required placeholder="Location / Ciudad" name="location">
              </div>
              <div class="col-md-3">
                <input type="text" ngModel required placeholder="Phone / Teléfono" name="phone">
              </div>
            </div>
            <textarea placeholder="Message" ngModel required name="message" class="single-line" placeholder="Mesagge / Mensaje" ></textarea>
            <div class="form-message"></div>
            <button type="submit">Send</button>
          </form>



        </div>
      </div>
    </div>
  </div>

  <!-- Google map API -->
  <div class="map">
    <div class="map-canvas"></div>
  </div>

</section>